<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

    <body class="admin-body">
        <%- include('../../partials/admin/admin-navbar.ejs') %>

            <%- include('../../partials/admin/admin-sidebar.ejs') %>

                <section class="container  mt-5">
                    <div class="row  ">
                        <div class="col-12 mt-5 table-responsive ">
                            <table id="datatable" class="table display table-overflow  table-borderless table-hover">
                                <thead>
                                    <tr class="table-light">
                                        <th class="" scope="col">#</th>
                                        <th class="" scope="col">Ordered on</th>
                                        <th class="" scope="col">orderID</th>
                                        <th class="" scope="col">Product Name</th>
                                        <th class="" scope="col">Quantity</th>
                                        <th class="" scope="col">Payment Method</th>
                                        <th class="" scope="col">returnStatus </th>
                                        <th class="" scope="col">total price</th>
                                        <th class="" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <% var count=1 %>
                           <% if(orders.length>0){ %>
                            <% orders.forEach(order=> { %>
                         
                                            <tbody>
                                                <tr class="table-light">
                                                    <th class="" scope="row">
                                                        <%= count++ %>
                                                    </th>
                                                    <td class="">
                                                        <%= order.createdAt.toString().slice(0,16) %>

                                                    </td>
                                                    <td class="">
                                                        #<%= order._id%>
                                                    </td>
                                                    <td class="">
                                                        <% order.items.forEach(item=> { %>
                                                            <p class="my-5 pt-3">
                                                                <%= item.productName %>
                                                            </p>
                                                            <% }) %>
                                                    </td>
                                                    <td class="">
                                                        <% order.items.forEach(item=> { %>
                                                            <p class="my-5 pt-3">
                                                                <%= item.quantity %>
                                                            </p>
                                                            <% }) %>
                                                    </td>
                                                    <td class="">
                                                        <%= order.paymentMethod %>
                                                    </td>
                                                    <% if (order.returnStatus=="Requested"||order.returnStatus=="Declined"){ %>
                                                        <td></td>
                                                   <% }else{ %>
<td class="">
                                                        <div class="pt-auto my-5 d-flex">
                                                            <select name="returnStatus" id="returnStatus<%= count %>"   class="btn btn-outline-dark bg-white text-dark" <%= order.returnStatus=='Refund Initiated'?'disabled':'' %>  <%= order.isCancelled==true?'disabled':'' %>  > 
                                                                <option <%= 'Approved'== order.returnStatus.toString()? 'selected':'' %> value="Approved"> Approved</option>
                                                                <option <%= 'Picked Up'==order.returnStatus.toString()? 'selected':' ' %> value="Picked Up"> Picked Up </option>
                                                                <option <%= 'Recieved'==order.returnStatus.toString()? 'selected':' ' %> value="Recieved"> Recieved </option>
                                                                <option <%=  'Refund Initiated'==order.returnStatus.toString()? 'selected':' ' %>  value="Refund Initiated"> Refund Initiated </option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <% } %>
                                                   
                                                    <td class="">
                                                        ₹ <%= order.totalAmount %>
                                                    </td>
                                                    <td>
                                                        <% if(order.returnStatus=='Declined'){ %>
                                                            <button class="btn btn-outline-dark rounded-pill my-4" disabled>Declined</button>
                                                        
                                                            <% }else if(order.returnStatus=='Requested'){ %>
                                                                
<button class="btn btn-outline-dark rounded-pill my-4" data-bs-target="#staticBackdrop1<%= count %>"  data-bs-toggle="modal">Approve</button>


<div class="modal fade" id="staticBackdrop1<%= count %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Do you accept Return of this order?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="approveReturn('<%=order._id %>')">yes</button>
        </div>
      </div>
    </div>
  </div>    
                                                     
                                                      <button class="btn btn-outline-danger rounded-pill my-3 " data-bs-target="#staticBackdrop<%= count %>"  data-bs-toggle="modal"> Decline </button>

                                                      <% }else { %>
                                                        <% if( order.returnStatus=='Refund Initiated'){ %> 

                                                            <% }else{ %>
                                                        <button class="btn btn-outline-success rounded-pill my-4" id="save<%= count %>" data-url="<%=order._id %>" onclick="save('<%= count %>',this.id)" >Save Changes</button>
                                                        <% } %>
                                                                <% } %>
                                                       
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <div class="modal fade" id="staticBackdrop<%= count %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Do you want to cancel return ?</h1>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                  
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                      <button type="button" class="btn btn-danger" onclick="cancelReturn('<%=order._id %>')">yes</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            <% }) %>
                                                <% } %>
                                </table>
                            </div>
                        </div>
                    </section>
    
                    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
                    <script src="/scripts/adminScript.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                      crossorigin="anonymous"></script>
    </body>

</html>