<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

  <body class="admin-body">
    <%- include('../partials/admin/admin-navbar.ejs') %>
    <%- include('../partials/admin/admin-sidebar.ejs') %>
    <div class="container">
      <div class="row  mt-5" >


  <% if(totalIncome.length>0){ %>
          <div class="col-12 col-lg-3 my-3" >
            <div class="card rounded-pill text-center">
              <div class="card-body" style="height:8rem;">
                <h6 class="card-title d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/bubbles/50/null/money-bag.png"/>Total Income</h6>
                 <h6 class="ms-5 fw-bold text-success"><%= totalIncome[0].totalSpent %></h6>  
              </div>
            </div>
          </div>
          <% } %>
          <% if(users.length>0){ %>
          <div class="col-12 col-lg-3 my-3">
            <div class="card rounded-pill text-center">
              <div class="card-body" style="height:8rem;">
                <h6 class="card-title d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/plasticine/50/null/conference-call.png"/>Total Customers</h6>
                <h6 class=" fw-bold text-success"><%= users[0].total %></h6>  
              </div>
            </div>
          </div>
          <% } %>
          <% if(products.length>0){ %>
          <div class="col-12 col-lg-3 my-3">
            <div class="card rounded-pill text-center">
              <div class="card-body" style="height:8rem;">
                <h6 class="card-title d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/external-filled-outline-perfect-kalash/50/null/external-Watches-management-filled-outline-perfect-kalash.png"/>Total Products</h6>
                <h6 class=" fw-bold text-success"><%= products[0].total %></h6>  
              </div>
            </div>
          </div>
          <% } %>
          <% if(orders.length>0){ %>
          <div class="col-12 col-lg-3 my-3">
            <div class="card rounded-pill text-center">
              <div class="card-body " style="height:8rem;">
                <h6 class="card-title d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/50/null/external-logistics-shipping-delivery-kmg-design-flat-kmg-design-2.png"/>Total Orders</h6>
             <h6 class=" fw-bold text-success"><%= orders[0].total %></h6>  
              </div>
            </div>
          </div>

          <% } %>
        </div>
      <div class="row mt-2 ">
        
        <div class="col-md-6 mx-auto my-5">
      <div  class="card p-3">
        <h4>Daily Sales</h4>
        <canvas id="amountSpent"></canvas>
        <a href="/admin/downloadExcell" class="btn btn-success text-docoration-none">Download Report</a>
        <a href="/admin/downloadInvoice" class="btn btn-dark mt-2 text-docoration-none">Download Pdf</a>
      </div>
    </div>

      </div>
    </div>
    

    <script>

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/dashboard.js"></script>
   


  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    
  </body>

</html>