<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/user/user-navbar.ejs') %>
      <div class="container-fluid  ">
        <div class="row ">
          <div class="col-lg-3 mt-4 mt-lg-0 col-12 ">
            <div class="info">
              <span class="w-100">Hello,</span>
              <span class="w-100 fw-bold fs-6"><%= user.name %></span>
            </div>
            <div class="info">
              <a class="text-decoration-none  text-black"
              href="/myAccount">
              <p>Dashboard</p>
            </a>
            </div>
            <div class="info">
              <a class="text-decoration-none text-black"
              href="/addresses">
              <p>My Address</p>
            </a> 
            </div>
            <div class="info">
              <a class="text-decoration-none fw-bold text-black"
              href="/myorders">
              <p>My Orders</p>
            </a>
            </div>
            <div class="info ">
            
              <p type="button" class=" text-black " data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              <svg width="20" height="20" class="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#2874F0" stroke-width="0.3" stroke="#2874F0" d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"></path></svg> Logout
          </p>

          </div>
        </div>

          <div class="col-12   col-lg-9  ">
            <h2 class="text-center my-5">My Orders</h2>
              <% if(order.length>0){ %>
                <% var count="0" %>
                  <% order.forEach(order=> { %>
                    <% count ++ %>
                      <% order.items.forEach(item=> { %>
                        <div class="card my-3">
                          <a class="text-decoration-none text-black" href="/orders/<%= order. _id %>">
                          <div class="card-body">
                            <div class="d-flex "> 
                              <span class="text-start">ordered on:<%= order.createdAt.toString().slice(0,16) %></span> 
                               
                                <% if(order.isCancelled==true) { %>
                                  <span class="ms-auto text-end fw-bold text-danger">Order Status:Cancelled</span>
                                  <% } else if(order.orderStatus=="Delivered"){ %>
                                    <span class=" ms-auto fw-bold text-end text-success">Order Status: <%= order.orderStatus %></span>
                                    <% }else{ %>
                                       <span class="ms-auto fw-bold text-end">Order Status:<%= order.orderStatus %></span>
                                      <% } %>
                               
                            </div>
                          
                            
                            <table class="table table-borderless">
                              <tbody>
                                <% order.items.forEach(item=> { %>
                                  <tr>
                                    <td>
                                      <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                          <img src="<%= item.image %>" alt="" width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                          <h6 class="smallmb-0">
                                            <%= item.productName %>
                                          </h6>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                     Quantity: <%= item.quantity %>
                                    </td>
                                    <td class="text-end">
                                      ₹ <%= item.price * item.quantity %>
                                    </td>
                                  </tr>
                              </tbody>
        
                             
                              <% }) %>
                                <tfoot>
        <tr>
          <td class=" fs-5" colspan="2">Shipping</td>
          <td class="text-end  fs-5">+₹50</td>
        </tr>
        
        <tr>
          <td class="fw-bold fs-5" colspan="2">CART TOTAL</td>
                                  
                                   
        
          <td class="text-end fw-bold fs-5">
            <%= order.totalAmount %>
          </td>
        </tr>
        
                                
                              
                              
                                </tfoot>
                            </table>
                          </div>
                         </a>  
                        </div>
                        <% }) %>
                          <% }) %>
                            <% }else{ %>
                              <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_vsaoi7iz.json" class="mx-auto"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                              <h3 class="text-center">No order History Available</h3>
                              <h4 class="text-center">Buy something to make me happy</h4>
                              <% } %>
                     
 
          </div>
        </div>

      </div>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <%-include('../partials/user/footer.ejs') %>


  </body>

</html>