<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/user/user-navbar.ejs') %>
      <div class="container-fluid  ">
        <div class="row mb-5">
          <div class="col-lg-3 mt-4 mt-lg-0  col-12 ">
            <div class="info">
                <span class="w-100">Hello,</span>
                <span class="w-100 fw-bold fs-6"><%= user.name %></span>
            </div>
            <div class="info">
              <a class="text-decoration-none fw-bold text-black"
              href="/myAccount">
              <p>Dashboard</p>
            </a>
            </div>
            <div class="info">
              <a class="text-decoration-none text-black"
              href="/addresses">
              <p>My Address</p>
            </a> 
            </div>
            <div class="info">
              <a class="text-decoration-none text-black"
              href="/myorders">
              <p>My Orders</p>
            </a>
            </div>
            <div class="info ">
            
              <p type="button" class=" text-black " data-bs-toggle="modal"
              data-bs-target="#staticBackdrop">
              <svg width="20" height="20" class="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="#2874F0" stroke-width="0.3" stroke="#2874F0" d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"></path></svg> Logout
          </p>

          </div>
          </div>

          <div class="col-9 mx-auto  my-5 my-lg-auto ">
            <div class="row  mx-auto">
              <form class=" border pt-2  mx-auto border-2 " action="/editUser" method="post">
               
                <div class=" py-2 "><h5 class="me-2">Name</h5>
                <input type="text" id="form6Example1" name="name" class=" form-control bg-light"  value="<%= user.name %>" />
              </div>
              <div class=" py-2 "><h5 class="me-2">Phone</h5>
                <input type="number" id="form6Example1" name="phone" class=" form-control bg-light"  value="<%= user.phone %>" />
              </div>
              <div class=" py-2 "><h5 class="me-2">Email</h5>
                <input type="text" id="form6Example1" name="email" class=" form-control bg-light"  value="<%= user.email %>" />
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="text-decoration-none rounded-pill  btn btn-outline-dark my-3 me-2 ">Save</button >
                    <a href="/myAccount" class="text-decoration-none  rounded-pill btn btn-dark my-3 ">Cancel</a >
                    </div>
                    </form>
              
            
            </div>
          </div>
        </div>

      </div>
        <%-include('../partials/user/footer.ejs') %>


  </body>

</html>