<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

  <body>

    <%- include('../../partials/user/guest-navbar.ejs') %>
      <section>
        <div class="container h-100" id="register-card">
          <div class="row h-100 d-flex justify-content-center align-items-center">
            <div class="col-md-5">
              <div class="login-card p-5 mb-4">
                <div class="text-center text-black">
                  <h1 class="sign-in">Sign In</h5>
                </div>
                <p class="text-danger">
                  <%= message %>
                </p>
                <form id="form" action='/login' method='POST'>
                  <span class="text-danger">

                  </span>
                  <div class="form-outline input-control mb-3 ">
                    <input type="text" id="email" value="<%= user %>" class="form-control form-control-lg "
                      name="email" />
                    <label class="form-label">Enter an Email </label>
                    <div class="error"></div>
                  </div>
                  <div class="d-flex justify-content-center">
                    <div class=" form-outline input-control mb-3  align-items-center ">
                      <input type="password" id="password" class="form-control form-control-lg" name="password"
                        aria-describedby="passwordHelpInline" />
                      <label class="form-label" for="form2Example27">Password</label>
                      <div class="error"></div>
                    </div>
                    <div class="ps-2 align-items-center">
                      <span id="passwordHelpInline" class="form-text">
                        Must be minimum of 6 characters long.
                      </span>
                    </div>
                  </div>

                  <button class="btn btn-dark btn-lg " type="submit" onclick="validateLogin()">LogIn</button>


                  <p class="mb-5 pb-lg-2 text-primary mt-2">Don't have an account? <a href="/register"
                      class="text-primary mt-2">signup here</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('../../partials/user/footer.ejs') %>
  </body>

</html>