<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <%- include('../../partials/head.ejs') %> 
  <body>
  
    <%- include('../../partials/user/guest-navbar.ejs') %>

    <section>
      <div class="container h-100" id="register-card">
        <div class="row h-100 d-flex justify-content-center align-items-center">
          <div class="col-md-5">
            <div class="login-card">
              <div class="text-center text-black">
                <h1 class="sign-in pt-2">Sign In</h5>
              </div>
              <p class="text-danger"><%= message %></p>
                      <form id="form" action='/register' method='POST'>
                        <span class=" text-end text-danger fw-bold">
                          <%= message %>
                        </span>
                        <div class="form-outline input-control mb-1">
                          <label class="form-label" for="form2Example17">Enter Your First Name</label>
                          <input class="form-control form-control-lg " type="text" name="fname" id="fname"
                            onfocusout="validateFname()"/>
                          <div class="error"></div>
                        </div>
                        <div class="form-outline input-control mb-1 ">
                          <label class="form-label" for="form2Example17">Enter Your Last Name</label>
                          <input class="form-control form-control-lg " type="text" name="lname" id="lname"
                            onfocusout="validateLname()" />
                          <div class="error"></div>
                        </div>
                        <div class="form-outline input-control mb-1 ">
                          <label class="form-label" for="form2Example17">Enter an Email </label>
                          <input type="text" id="email" class="form-control form-control-lg " name="email"
                            onfocusout="validateEmail()" />
                          <div class="error"></div>
                        </div>
                          <div class="form-outline input-control mb-1 ">
                            <label class="form-label" for="form2Example17">Phone Number</label>
                            <input class="form-control form-control-lg " type="tel" name="phone" id="phone" onfocusout="validatePhone()" />
                            <div class="error"> </div> 
                          </div>
                        
                        <div class="form-outline input-control mb-1 ">
                          <label class="form-label" for="form2Example27">Enter a Password</label>
                          <input class="form-control form-control-lg " type="password" name="password" id="password"
                            onfocusout="validatePassword()" />
                          <div class="error"></div>
                        </div>
                        <div class="form-outline input-control mb-1 ">
                          <label class="form-label" for="form2Example27"> Confirm Your
                            Password</label>
                          <input class="form-control form-control-lg " type="password" name="confirm-password" id="password2"
                            onfocusout="validatePassword2()" />
                          <div class="error"></div>
                        </div>

                        <button class="btn btn-outline-dark btn-lg " type="submit" onclick=" validateRegister()">Sign
                          Up</button>

                        <p class="my-5 pb-lg-2 text-primary ">Already have an account? <a href="/login"
                            class="text-primary  ">Login here</a></p>
                        <a href="#!" class="small text-muted text-center">Terms of use.</a>
                        <a href="#!" class="small text-muted text-center">Privacy policy</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            
      </section>

      <%- include('../../partials/user/footer.ejs') %>
  </body>

</html>